# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional IDE files
.vscode/
.idea/

# Prisma
prisma/migrations/

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
